{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block content1%}
    {% endblock%}
    
    <!-- Custom fonts for this template-->
    <link href="{% static 'todo/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    
    <link rel="stylesheet" href="{% static 'todo/css/sb-admin-2.css' %}">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Barra lateral - Marca -->
            <a class="sidebar-brand d-flex  justify-content-center letras2" href="{% url 'index' %}" style="margin-bottom:30px;">
              <p class="letras">SGPT</p>  
            </a>

            <!-- Dividir -->
            <hr class="sidebar-divider my-0">
            {% if user.is_staff%}
            
            {% endif%}
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link opt" href="{% url 'list_actividad' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Actividades</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            

            

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link opt collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-fw fa-calendar"></i>
                    <span class="pinga">Plan de Trabajo</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Planes:</h6>
                        {% if user.Rol_de_usuario != "Profesor" %}
                        <a class="collapse-item" href="{% url 'list_pt' %}">Plan de Trabajo </a>
                        {% endif %}
                        <a class="collapse-item" href="{% url 'list_pti' %}">Plan de Trabajo Individual</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">
            
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link opt" href="{% url 'list_ic'%}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span class="opt">Informe de cumplimiento</span></a>
            </li>
{% if user.Rol_de_usuario != "Profesor" or user.is_staff == True%}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link opt" href="{% url 'list_area'%}">
                    <i class="fas fa-fw fa-map"></i>
                    <span>Área</span></a>
            </li>
{% endif%}
{% if user.is_staff %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link opt" href="{% url 'listar_usuario_rol'%}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Gestionar usuarios</span></a>
            </li>
{% endif%}
            
{% if user.Rol_de_usuario != "Profesor" or user.is_staff == True %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link opt" href="{% url 'list_pll'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Plantillas</span></a>
            </li>
{% endif%}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
{% block asf %}

{% endblock asf %}
                <!--Pantalla Principal-->
                

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                        </li>

   

                        

                        
                            

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                        {% if user.is_authenticated %}
                            {% if user.sexo == "M" %}
                            
                            <a class="nav-link dropdown-toggle " href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.get_username}}</span>
                                <img class="perf"
                                    src="{% static 'todo/img/undraw_profile.svg' %}">
                            </a>
                            {% elif user.sexo == "F" %}
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.get_username}}</span>
                                <img class="perf"
                                    src="{% static 'todo\img\Mujer defecto.svg' %}">
                            </a>
                            {% else %}
                            <a class="nav-link dropdown-toggle " href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.get_username}}</span>
                                <img class="perf"
                                    src="{% static 'todo\img\uSUARIO DEFECTO.svg' %}">
                            {% endif%}
                        {% endif%}
                        
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle = "modal" data-target="#perfilModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                





{% block content%}

{% endblock%}
        <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro de que desea cerrar sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'salir' %}">Cerrar Sesión</a>
                    
                </div>
            </div>
        </div>
    </div>

<!-- Perfil Modal-->
    <div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="1exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="1exampleModalLabel">Perfil de {{user.get_username}}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                
                <h5>Usuario: {{user.get_username}}</h5>
                <h5>Nombre: {{user.first_name}}</h5>
                <h5>Apellido: {{user.last_name}}</h5>
                <h5>Sexo: {{user.sexo}}</h5>
                <h5>Rol de Usuario: {{user.Rol_de_usuario}}</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    
                </div>
            </div>
        </div>
    </div>

        <!-- Bootstrap core JavaScript-->
    <script src="{% static 'todo/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'todo/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'todo/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'todo/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'todo/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'todo/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'todo/js/demo/chart-pie-demo.js' %}"></script>

    {% block extrajs %}
    {% endblock extrajs%}
    </body>